NODE_ENV=dev

# Database (Docker)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=app_db

# Connection string (Prisma / API)
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/app_db?schema=public

PORT=3333
JWT_SECRET=your_jwt_secret_key

# Mail (Mailhog)
SMTP_HOST=mailhog
SMTP_PORT=1025
SMTP_USER=
SMTP_PASS=

# Cloudflare (opcional)
CLOUDFLARE_ENDPOINT=
CLOUDFLARE_BUCKET_NAME=
CLOUDFLARE_PUBLIC_URL=
CLOUDFLARE_ACCESS_KEY_ID=
CLOUDFLARE_SECRET_ACCESS_KEY=